/* styles.css */

/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Estilo para os títulos */
h1, h2 {
    color: #333;
}

/* Estilo para os botões */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para os inputs de texto */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo para as divisões que contêm os resultados */
#listaProdutos, #produtoPorCodigo {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
}
